.Product {
  width: 16rem;
  margin: 1rem 0.2rem 0.5rem 0.2rem;
}

.Product-picture {
  height: 10rem;
}

.Product-title {
  height: 4.5rem;
}

.Product-category {
  height: 2rem;
}

.Product-amount {
  height: 2.5rem;
}

.Product-CardActions {
  justify-content: center;
}
