.sidebar {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.sidebar__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    margin: 1rem 0;
  }

  li > * {
    font-size: 1.5rem;
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 0.2rem 0;

    &:hover,
    &:active {
      color: darkgoldenrod;
      border-bottom: 5px solid darkgoldenrod;
    }
  }
}
