.Pagination {
  display: flex;
  justify-content: center;

  button {
    background: #0e4f1f;
    color: white;
    border: 1.5px solid #000000;
    padding: 0.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

    &:hover,
    &:active {
      color: cadetblue;
    }
  }

  .pageNumber {
    font-weight: bold;
    margin: 0 0.5rem;
  }
}
