@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

.main-header {
  background: #2ddf5c;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__burger {
  vertical-align: middle;
  color: #0e4f1f;
  cursor: pointer;

  @include media-min-width(40rem) {
    display: none;
  }
}

.main-header__brand {
  vertical-align: middle;
  color: #0e4f1f;
  cursor: pointer;

  &:hover,
  &:active {
    color: white;
  }
}
