@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__burger {
  vertical-align: middle;
  color: azure;
  cursor: pointer;

  &:hover,
  &:active {
    color: burlywood;
  }

  @include media-min-width(49rem) {
    display: none;
  }
}

.main-header__brand {
  vertical-align: middle;
  color: azure;
  cursor: pointer;

  &:hover,
  &:active {
    color: burlywood;
  }
}

.login-statusbar {
  margin-left: 0.7rem;
}
