.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear-cart {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.pricing {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  margin-top: 0.5rem;
}

.must-login-message {
  color: red;
}
